<section>
  <h1 class="mb-1 restaurant-show-title">修改支出</h1>
  <div class="container">
    <form action="/expenseTracker/{{expense._id}}?_method=PUT" method="POST">

      <div class="form-group">
        <label for="formGroupExampleInput2">名稱</label>
        <input type="text" class="form-control" placeholder="請輸入店名" name="caption" value="{{expense.caption}}" required>
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">日期</label>
        <input type="date" class="form-control" style="im" placeholder="" name="date" pattern="[a-z0-9]*" value="{{expense.date}}" required>
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">類別</label>
        <select id="inputState" class="form-control" name="category">
          {{#each allCategoryItem}}
          <option value="{{this.enCategoryName}}" name="{{this.enCategoryName}}">{{this.CategoryName}}</option>
          {{/each}}
        </select>
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">金額</label>
        <input type="number" class="form-control" placeholder="請輸入正數" name="amount" onkeyup="value=value.replace(/[^\d.]/g,'')" value="{{expense.amount}}" required>
      </div>


      <div class="d-flex flex-column align-items-center mt-5">

        <div class="">
          <button class="btn btn-success mb-3" style="width: 15em;" type="submit" id="add-renew-button">確定修改</button>
        </div>
        <div>
          <a href="/" class="btn btn-secondary" style="width: 15em;" id="cancel-button">取消</a>
        </div>

      </div>

    </form>


  </div>
</section>